version: '3'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: box_delivery_api
    container_name: box_api
    ports:
      - '3001:3001'
    command: npm run start:dev
    volumes:
      - ./:/api
    networks:
      dev:
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    container_name: box_mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    networks:
      dev:

networks:
  dev:

volumes:
  mongodb_data:
